{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GitBuster_Login</title>
    <link rel="stylesheet" href={% static "login/bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "login/css/Google-Style-Login.css" %}>
    <link rel="stylesheet" href={% static "login/css/styles.css" %}>
</head>

<body style="color: var(--bs-indigo);background: var(--bs-gray-600);">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top: 6%;margin-bottom: 8%;">
                <div class="login-card" style="background: #355aa0;"><img class="profile-img-card" src={% static "login/img/avatar_2x.png" %}>
                    <p class="profile-name-card"> </p>
                    <form method='POST' class="form-signin"> {% csrf_token %}
                        {{form.as_p}}<span class="reauth-email"> </span>
                        <div class="checkbox"></div><button class="btn btn-primary btn-lg d-block btn-signin w-100" type="submit">Sign in</button>
                    </form><a class="forgot-password" href="#"></a>
                </div>
            </div>
            <div class="col" style="margin-top: 6%;"><img style="margin-top: 10%;margin-left: 20%;width: 400px;height: 400px;" src={% static "login/img/ES_LOGO.png" %}></div>
        </div>
    </div>
    <script src={% static "login/bootstrap/js/bootstrap.min.js" %}></script>
</body>

</html>