#nome {
  display: inline-block;
}

#Role {
  display: inline-block;
  position: absolute;
}

#nome1 {
  display: inline-block;
}

#Role1 {
  display: inline-block;
  position: absolute;
}

#nome2 {
  display: inline-block;
}

#nome3 {
  display: inline-block;
}

#nome4 {
  display: inline-block;
}

#role2 {
  display: inline-block;
  position: absolute;
}

#role3 {
  display: inline-block;
  position: absolute;
}

#role4 {
  display: inline-block;
  position: absolute;
}

